<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
    xmlns:h="http://java.sun.com/jsf/html"
    xmlns:f="http://java.sun.com/jsf/core"
    xmlns:p="http://primefaces.org/ui">
     
    <h:head>
    	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    	<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    	<title>Google Books Favoritos</title>
    </h:head>
 
    <h:body onload="onLoad()">
    
    	<style type="text/css"> 
		    /*demo*/
		    .ui-dataview-list .ui-dataview-row {
		        border-bottom: 1px solid #A8A8A8;
		        padding: 25px 10px;
		        /* with the exported variables from Nova and Luna Themes*/
		        border-bottom-color: var(--input-border-color, #A8A8A8);
		    }
		 
		    .logo {
		        width: 5%;
		    }
		    .detail {
		        width: 85%;
		        padding-left: 25px;
		    }
		</style>
    
    	<h:form id="tableBooks">  
			<p:growl id="messages"/>
			<p:remoteCommand name="searchBooks" update="tableBooks:dataViewBooksFavorites" actionListener="#{menuBean.searchBooks}"/>
			
		    <p:menubar style="margin-bottom: 10px;">
		        <p:menuitem value="Busca" action="busca" icon="pi pi-search" />
		    </p:menubar>
		    
		    <p:dataView id="dataViewBooksFavorites" var="book" value="#{menuBean.booksFavorites}" gridIcon="pi pi-th-large" listIcon="pi pi-bars" lazy="true">
		    
		        <p:dataViewGridItem>
		            <p:panel header="#{book.title}" style="text-align:center">
		                <h:panelGrid columns="1" style="width:100%">
		                    <p:graphicImage value="#{book.thumbnail}" />
		 
		                    <h:outputText value="#{book.title}" />
		 
		                    <p:commandLink update=":tableBooks:bookDetailFavorites" oncomplete="PF('bookDialog').show()" title="Detalhes">
		                        <h:outputText styleClass="ui-icon pi pi-search" style="margin:0 auto;" />
		                        <f:setPropertyActionListener value="#{book}" target="#{menuBean.selectedBook}" />
		                    </p:commandLink>
		                </h:panelGrid>
		            </p:panel>
		        </p:dataViewGridItem>
		 
		        <p:dataViewListItem>
		            <h:panelGrid columns="4" style="width:100%" columnClasses="logo,detail">
		                <p:graphicImage value="#{book.thumbnail}" /> 
		 
		                <p:outputPanel>
		                    <h:panelGrid columns="2" cellpadding="5">
		                        <h:outputText value="Id:" />
		                        <h:outputText value="#{book.id}" style="font-weight: bold"/>
		                        
		                        <h:outputText value="Livro:" />
		                        <h:outputText value="#{book.title}" style="font-weight: bold"/>
		 
		                        <h:outputText value="Ano:" />
		                        <h:outputText value="#{book.lancamento}" style="font-weight: bold"/>
		 
		                        <h:outputText value="Author:" />
		                        <h:outputText value="#{book.author}" style="font-weight: bold"/>
		                    </h:panelGrid>
		                </p:outputPanel>
		 
		                <p:commandLink update=":tableBooks:bookDetailFavorites" oncomplete="PF('bookDialog').show()" title="Detalhes">
		                    <h:outputText styleClass="ui-icon pi pi-search" style="margin:0 auto;" />
		                    <f:setPropertyActionListener value="#{book}" target="#{menuBean.selectedBook}" />
		                </p:commandLink>
		                <p:commandButton action="#{menuBean.remover(book)}" id="btnRemover" update=":tableBooks:messages, :tableBooks:dataViewBooksFavorites" style="margin-right:20px;" icon="pi pi-times" title="Remover">
		                	<p:confirm header="Confirmation" message="Tem certeza que deseja remover dos favoritos?" icon="pi pi-exclamation-triangle" />
		                </p:commandButton>
		            </h:panelGrid>
		        </p:dataViewListItem>
		    </p:dataView>
		    
		    <p:dialog header="Detalhes do Livro" widgetVar="bookDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false" width="600px">
		        <p:outputPanel id="bookDetailFavorites" style="text-align:center;">
		            <p:panelGrid  columns="2" rendered="#{not empty menuBean.selectedBook}" columnClasses="label,value">
		                <f:facet name="header">
		                    <p:graphicImage value="#{menuBean.selectedBook.thumbnail}"/> 
		                </f:facet>
		 
		                <h:outputText value="Titulo:" />
		                <h:outputText value="#{menuBean.selectedBook.title}" />
		 
		                <h:outputText value="Lançamento" />
		                <h:outputText value="#{menuBean.selectedBook.lancamento}" />
		                
		                <h:outputText value="Descrição" />
		                <h:outputText value="#{menuBean.selectedBook.description}" />
		 
		            </p:panelGrid>
		        </p:outputPanel>
		    </p:dialog>
		    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
		        <p:commandButton value="Sim" type="button" styleClass="ui-confirmdialog-yes" icon="pi pi-check" />
		        <p:commandButton value="Não" type="button" styleClass="ui-confirmdialog-no" icon="pi pi-times" />
		    </p:confirmDialog> 
		    
		</h:form>
    </h:body>
    <script>
	    function onLoad(){
	        
	    }
	</script>
</html>

